{% extends 'base_email.html' %}
{% block head_title %}Restablecer Contraseña{% endblock %}
{% block content %}

    {% load i18n %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
        <p>Esta recibiendo este email porque usted u otra persona ha solicitado cambiar la contraseña de su cuenta de usuario. Haga clic en el siguiente botón para restablecer su contraseña. Si usted no solicito el cambio ignore este email.</p>
    {% endblocktrans %}

    <a style="border-radius: 3px;width: 100%; display: inline-block;
height: 3rem;line-height: 3rem;text-align: center;text-decoration: none;background-color: #8a7dbe;border-color: #8a7dbe;color: #fff;margin-top: 20px;margin-bottom: 20px;" href="{{ password_reset_url }}" target="_blank">{% trans 'Reset My Password' %}</a> 
    
    <p style="font-size: 14px;">
        Si no visualiza el botón correctamente, copie el siguiente enlace y peguelo en el navegador: {{ password_reset_url }}.
    </p>

{% endblock %}