{% extends "base.html" %}

{% load i18n  bootstrap3 %}

{% block head_title %}{% trans "Change Password" %} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active">Cambiar contraseña</li>
{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-3">
        <h3>{% trans "Change Password" %}</h3>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary btn-cons m-t-10" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
{% endblock %}
