{% extends "base_image.html" %}

{% load i18n bootstrap3 %}
{% block head_title %}{% trans "Cambiar Contraseña" %}{% endblock %}

{% block content %}
    

    {% if token_fail %}
    <div class="reset_pass m-t-80 account">
        <h3>{% if token_fail %}{% trans "Link Vencido" %}{% else %}{% trans "Cambiar Contraseña" %}{% endif %}</h3>
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}El link ha espirado. Por favor solicita uno nuevo en <a href="{{ passwd_reset_url }}">Recuperar Contraseña</a>.{% endblocktrans %}</p>
    </div>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="reset_pass m-t-80">
                <h3>{% if token_fail %}{% trans "Link Vencido" %}{% else %}{% trans "Cambiar Contraseña" %}{% endif %}</h3>
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-secondary btn-cons m-t-10" type="submit" name="action" value="{% trans 'Cambiar Contraseña' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Tu contraseña se cambio exitosamente.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
