{% extends "base_image.html" %}

{% load i18n bootstrap3 %}
{% load account %}

{% block head_title %}{% trans "Recuperar Contraseña" %}{% endblock %}

{% block content %}
	<div class="m-t-100 text-left">    
	    <h3 class="auth_h3">{% trans "Recuperar Contraseña" %}</h3>
	    
	    {% if user.is_authenticated %}
	    {% include "account/snippets/already_logged_in.html" %}
	    {% endif %}
	    
	    <p>{% blocktrans %}Te enviamos un email. Sigue el link que te compartimos y podrás restablecer tu contraseña.{% endblocktrans %}</p>
	</div>
{% endblock %}
