{% extends "base_image.html" %}

{% load i18n bootstrap3 %}
{% load account bootstrap3 %}

{% block head_title %}{{ block.super }}Recuperar Contraseña{% endblock %}

{% block content %}

    

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset m-t-800">
        <h3>{% trans "Recuperar Contraseña" %}</h3>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "¿Olvidaste tu contraseña? Ingresa tu email y te enviaremos un correo con un link para que la restablezcas." %}</p>
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-secondary btn-cons m-t-10" type="submit" value="{% trans 'Recuperar Contraseña' %}" />
    </form>

    <!-- <p class="m-t-20">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p> -->
{% endblock %}
